.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    width: max-content;
    animation: scroll 60s linear infinite;
}

.carousel-track.right-to-left {
    animation-direction: reverse;
}

.carousel-item {
    flex: 0 0 auto;
    width: 300px; /* Adjust as needed */
    margin-right: 20px;
}

.carousel-item img {
    border-radius: 15px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
